@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --primary-color: #f2c96b;
  --primary-color-dark: #fee7bb;
  --secondary-color: #fee1a6;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav_content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.about {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subtile-my3 {
  font-size: 30px;
  letter-spacing: 2px;
  color: var(--text-dark);
  margin-bottom: 30px;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.actionBtn {
  display: flex;
  gap: 1rem;
}

.actionBtn button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire_me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire_me:hover {
  background-color: var(--primary-color-dark);
}

.services {
  color: var(--primary-color);
}

.services:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: 400px;
  height: 400px;
  border-radius: 30%;
}

.download-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

/* Add these styles to your existing style.css file */

.contact {
  background-color: #f8f8f8;
  padding: 2rem 0;
}

.contact h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.contact-form {
  display: grid;
  gap: 1rem;
}

.contact label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
}

.contact input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact button:hover {
  background-color: var(--primary-color-dark);
}

/* Add these styles to your existing style.css file */

footer {
  background-color: var(--primary-color);
  padding: 0.35rem 0;
}

.footerbody {
  max-width: 1200px;
  margin: auto;
}

.social-links a {
  width: 30px;
  /* Adjust the size of social media icons */
  height: 30px;
  margin-right: 10px;
  font-size: 24px;
  color: white;
}

.footerbody p {
  font-size: 20px;
  text-align: center;
  color: rgb(9, 8, 8);
}

iframe {
  margin-left: 50px;
  margin-bottom: 20px;
}

.dua img {
  margin-left: 100px;
}

.dualist p,
h4 {
  margin-left: 30px;
  margin-top: 10px;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  ul li a {
    font-size: 1.25rem;
  }
  .container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .image {
    grid-area: 1/1/2/2;
  }
  .actionBtn {
    margin: auto;
  }
}
